.main-nav, .sub-nav{
    display: flex;
    flex-direction: row;
}
.main-nav{
    background-color: #44b;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sub-nav{
    margin-bottom: 10px;
    margin-left: 10px;
}
.horizontal-nav-list{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.horizontal-nav-list-short-width{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.horizontal-nav-list-full-width{
    display: none;
}
@media (min-width:768px){
    .horizontal-nav-list-short-width{
        display: none;
    }
    .horizontal-nav-list-full-width{
        display: flex;
    }
}
.credit-offer{
    color: white;
    background-color: red;
    margin-right: 10px;
}   
.search-form{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: none;
}
input {
    flex: auto;
}
.horizontal-nav-list a{
    padding: 15px;
    border-right: 1px solid white;
    color: white;
}
.horizontal-nav-list li:last-of-type a {
   border-right: none;
}

.search-form input{
    border-bottom: #44b;
    flex-grow: auto;   
}
.company-name{
    font-size: 3em;
    margin: 0 35;
}
ul{
    list-style-type: none;
}
